---
- name: List backup jobs
  set_fact:
    backup_user: root

    backup_mysql_user: "{{ site_env.db_user | default('') }}"
    backup_mysql_pass: "{{ site_env.db_password | default('') }}"
    backup_mysql_host: "{{ site_env.db_host | default('') }}"

    # Define the backup jobs
    backup_profiles:
    # Backup uploads
      - name: "{{ item.key }}_uploads"
        schedule: "{{ item.value.backup.schedule | default(omit) }}"
        source: "{{ www_root }}/{{ item.key }}/shared/uploads"
        target: "{{ item.value.backup.target }}/uploads"
        target_user: "{{ site_env.backup_target_user | default(false) }}"
        target_pass: "{{ site_env.backup_target_pass | default(false) }}"
        max_age: "{{ item.value.backup.max_age | default('1M') }}"
        full_max_age: "{{ item.value.backup.full_max_age | default('1M') }}"
        max_full_backups: "{{ item.value.backup.max_full_backups | default('1') }}"
        params: "{{ item.value.backup.params | default([]) }}"
        action: "{{ site_purge_backup | ternary('purge_backup --force', 'backup') }}"

    # Backup database
      - name: "{{ item.key }}_database"
        schedule: "{{ item.value.backup.schedule | default(omit) }}"
        source: "mysql://{{ site_env.db_name }}"
        target: "{{ item.value.backup.target }}/database"
        target_user: "{{ site_env.backup_target_user | default(false) }}"
        target_pass: "{{ site_env.backup_target_pass | default(false) }}"
        max_age: "{{ item.value.backup.max_age | default('1M') }}"
        full_max_age: "{{ item.value.backup.full_max_age | default('1M') }}"
        max_full_backups: "{{ item.value.backup.max_full_backups | default('1') }}"
        params: "{{ item.value.backup.params | default([]) }}"
        action: "{{ site_purge_backup | ternary('purge_backup --force', 'backup') }}"

  when: site_uses_backup
  with_dict: "{{ wordpress_sites }}"
  register: backup_jobs

- name: Configure backup jobs
  set_fact: backup_profiles="{{ backup_jobs.results | selectattr('ansible_facts', 'defined') | map(attribute='ansible_facts.backup_profiles.0') | list }} + {{ backup_jobs.results | selectattr('ansible_facts', 'defined') | map(attribute='ansible_facts.backup_profiles.1') | list }}"

- name: Run backup role
  include_role:
    name: "lafranceinsoumise.backup"
